body {
  margin: 0;
  font-family: sans-serif;
  background-color: #ffe4e1; /* light pink */
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin: 1rem 0;
}

p {
  text-align: center;
}

main {
  padding: 2rem;
}

nav {
  padding: 1rem;
  text-align: center;
  background-color: #ffc0cb;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin: 0 0.5rem;
}

nav a.active {
  text-decoration: underline;
}
